# Global
NODE_ENV=development
JWT_SECRET=your_super_secret_jwt_key_change_this_in_production

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672

# Auth DB
AUTH_DB_HOST=auth-db
AUTH_DB_PORT=5432
AUTH_DB_USER=auth_user
AUTH_DB_PASSWORD=auth_password
AUTH_DB_NAME=auth_db

# Inventory DB
INVENTORY_DB_HOST=inventory-db
INVENTORY_DB_PORT=5432
INVENTORY_DB_USER=inventory_user
INVENTORY_DB_PASSWORD=inventory_password
INVENTORY_DB_NAME=inventory_db

# Sales DB
SALES_DB_HOST=sales-db
SALES_DB_PORT=5432
SALES_DB_USER=sales_user
SALES_DB_PASSWORD=sales_password
SALES_DB_NAME=sales_db

# HR DB
HR_DB_HOST=hr-db
HR_DB_PORT=5432
HR_DB_USER=hr_user
HR_DB_PASSWORD=hr_password
HR_DB_NAME=hr_db

# CRM DB
CRM_DB_HOST=crm-db
CRM_DB_PORT=5432
CRM_DB_USER=crm_user
CRM_DB_PASSWORD=crm_password
CRM_DB_NAME=crm_db
